/* Section.module.css */
.section {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  background-color: rgb(221, 221, 248);
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
